// Customized bootstrap styles

$theme-colors: (primary: #171717, secondary: #fff)

$btn-padding-y-sm: 1rem
$btn-padding-x-sm: 2rem
$btn-font-size-sm: 0.75rem
$btn-line-height-sm: 1
$btn-border-radius-sm: 40px

// IMPORT SECTION

@import "node_modules/bootstrap/scss/functions"
@import "node_modules/bootstrap/scss/variables"
@import "node_modules/bootstrap/scss/mixins"
@import "node_modules/bootstrap/scss/card"
@import "node_modules/bootstrap/scss/carousel"
@import "node_modules/bootstrap/scss/root"
@import "node_modules/bootstrap/scss/reboot"
@import "node_modules/bootstrap/scss/grid"
@import "node_modules/bootstrap/scss/images"
@import "node_modules/bootstrap/scss/buttons"
@import "node_modules/bootstrap/scss/transitions"
@import "node_modules/bootstrap/scss/nav"
@import "node_modules/bootstrap/scss/navbar"
@import "node_modules/bootstrap/scss/utilities"

@import "node_modules/@fortawesome/fontawesome-free/css/all.min"

@import "node_modules/slick-carousel/slick/slick"

// USER VARIABLES SECTION

$accent: #171717
$textcolor: #171717
$light-gray: #ededed
$brand-color: #000
$bg-offer: #363636
$title-color: #2d2b27
$collection-bold: #1a1a1a
$collection-regular: #898989
$arrow-circle: #d9d9d9

$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$montserrat: Montserrat, sans-serif
$opensans: "Open Sans", sans-serif



$fontsize: 16px

// Bootstrap compatible gutter variable => $gutter

$grid-gutter-width: 30px
$gutter: $grid-gutter-width


// FONTS LOAD SECTION

@mixin font($f-name, $f-style, $f-weight, $f-url)
	@font-face
		font-family: $f-name
		font-style: $f-style
		font-weight: $f-weight
		font-display: swap
		src: url("#{$f-url}.woff2") format("woff2"), url("#{$f-url}.woff") format("woff")


@include font("Open Sans", normal, 400, "../fonts/OpenSansRegular")
@include font("Montserrat", normal, 300, "../fonts/MontserratLight")
@include font("Montserrat", normal, 400, "../fonts/MontserratRegular")
@include font("Montserrat", normal, 600, "../fonts/MontserratSemiBold")
@include font("Montserrat", normal, 700, "../fonts/MontserratBold")
@include font("Montserrat", normal, 800, "../fonts/MontserratExtraBold")

@include font("Font Awesome 5 Brands", normal, 400, "../fonts/webfonts/fa-brands-400")	
@include font("Font Awesome 5 Free", normal, 900, "../fonts/webfonts/fa-solid-900")

// GENERAL DOCUMENT STYLES

::placeholder
	color: $textcolor

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $montserrat
	font-size: $fontsize
	font-weight: 400
	min-width: 320px
	position: relative
	line-height: 1.5
	color: $textcolor

.js-focus-visible :focus:not(.focus-visible)
	outline: none

.btn
	text-transform: uppercase

.btn-sm
	letter-spacing: 0.5px


